/* Définition des polices personnalisées */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');


/* GENERAL */

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
    font-family: "Raleway", "Sans serif";
    margin: 0px;
   
}
main
{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}


main,
.hebergements-populaires
{
    margin-top: 20px;
}



h1
{
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-right: 30px;
    margin-left: 20px;
} 

h2 
{
    font-size: 1.5em;
   
}

h3 
{
    margin-top: 5px;
    font-size: 0.9em;
}

p 
{
    font-size: 0.95em;
}

a 
{
    color: #333;
    text-decoration: none;
}



img 
{
    object-fit: cover;
}

i 
{
    color: #0065FC;
}

i.fa-star 
{
    font-size: 12px;
}

i.no-star 
{
    color: #ccc;
}

i.fa-info 
{
    color: #0065fc;
font-size: 16px;
padding: 7px 11px 7px 11px;
border: solid 1px #D9D9D9;
border-radius: 2000px;
margin-left: 20px;
   
}

/* PHOTOS */

.photos 
{
    margin: 30px 0px 0px 0px;
    
    border-radius: 20px;
    box-shadow: 3px 3px 7px #999;   
}

.photos span 
{
    font-weight: bold;
}

.photos:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
}


/* DETAILS */

.details {
    margin-left: 15px;
    margin-bottom: 8px;
}

/* HEADER */

header,
.header 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.logo {
    margin-left: 20px;
}

.header {
    flex: 1;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    padding: 0 35px;
    line-height: 40px;
}

nav li a:hover,
nav li a:active 
{
    display: block;
    margin-top: -1px;
    color: #0065fc;
    border-top: 1px solid #0065fc;
    text-align: center;
    width: 130%;
    
}

ul 
{
    list-style-type: none;
}

/* REGISTER */

.register {
    display: flex;
    align-items: center;
}

.register a {
    padding: 20px 20px;
    font-weight: bold;
    color: #0065fc;
}

li.register:hover {
    margin-top: 0;
    border: none;
}

/* SEARCH */


.recherche {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin-left: 20px;
}
.intro-recherche p {
    margin-left: 20px;
}

i.fa-map-marker-alt {
    width: 40px;
    line-height: 50px;
    text-align: center;
    color: black;
    background: #eee;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
}

i.fa-search 
{
    width: 40px;
    margin-left: -45px;
    color: #fff;
}

input 
{
    display: block;
    padding-left: 10px;
    border: none;
    height: 50px;  
    font-size: 0.95em;
    font-weight: bold;
} 


button {
    padding: 0 15px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    background: #0065fc;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 1rem ;
}

/* FILTERS */

.filtres {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    margin-left: 20px;
}

.filtres p {
    margin: 8px 20px 0 0;
    line-height: 50px;
    font-size: 1em;
    font-weight: bold;
}

.filtres i {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    padding-top: 12px;
    text-align: center;
    background: #DEEBFF;
    border-radius: 50%
}

.filtres ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.filtres li {
    display: flex;
    align-items: center;
    margin: 10px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-weight: bold;
}

.filtres li:hover 
{
 font-size: large; 
}
.info {
    display: flex;
    align-items: center;
    
}
/* HEBERGEMENTS POPULAIRES */

.hebergements-populaires 
{
    display: flex;
    justify-content: space-between;
   margin-left: 20px;
   margin-right: 20px;
}

/* HEBERGEMENTS */

#hebergements 
{
   max-width: 70% ;
    border-radius: 20px;
    background: #f2f2f2;
    flex: 1;
    padding: 37px 35px 20px;
}



#hebergements .plus 
{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.hebergements 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: 100%
}

.hebergements .photos {
    padding: 5px;
    background: #fff;
    width: 30%;
}

.hebergements img {
    height: 100%;
    width: 100%;
    max-height: 120px;
    border-radius: 20px 20px 0 0;
}

#hebergements p.plus {
    font-weight: bold;
}

/* POPULAIRES */

#populaires {
    width: 28%;
    border-radius: 20px;
    background: #f2f2f2;
    padding: 37px 35px 20px;
}

#populaires h2 {
    display: inline-block;
    width: 80%;
    
  
}

#populaires i.fa-chart-line {
    color: black;
    font-size: 1.5em;
    padding-left: 8%;   
}

.populaires {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
   
}

.populaires img {
    height: 120px;
    width: 100%;
    max-width: 130px;
    border-radius: 20px 0 0 20px;
}

.populaires .photos {
    width: 100%;
    padding: 5px;
    background: #fff;
   
}

.populaires .photos a {
    display: flex;
}

.populaires .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
}

/*ACTIVITES*/

#activites {
    margin-bottom: 80px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
.liste-activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.activite1, .activite2-activite3, .activite4, .activite5-activite6{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 450px;
}

.vignette-activite{
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 7px #999;
}
.vignette-activite:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
}
.vignette-activite .libelle {
    margin: 15px 0 15px 0;
}
.libelle {
    padding-left: 15px;
}
.activite1 .photo-activite1 img,
.activite4 .photo-activite4 img
{
    object-fit: cover;
    height: 395px;
    width: 100%;
    border-radius: 20px 20px 0 0 ;
}
.activite2-activite3 .photo-activite2 img{
    object-fit: cover;
    height: 170px;
    width: 100%;
    border-radius: 20px 20px 0 0 ; 
}
.activite2-activite3 .photo-activite3 img{
    object-fit: cover;
    height: 130px;
    width: 100%;
    border-radius: 20px 20px 0 0 ; 
}
.activite5-activite6 .photo-activite5 img{
    object-fit: cover;
    height: 130px;
    width: 100%;
    border-radius: 20px 20px 0 0 ; 
}
.activite5-activite6 .photo-activite6 img{
    object-fit: cover;
    height: 170px;
    width: 100%;
    border-radius: 20px 20px 0 0 ; 
}


/* FOOTER */

footer {
    
    
    background: #f2f2f2;
}

#footer {

    max-width: 1440px;
    margin: auto;
    margin-top: 30px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.a-propos {
    margin-left: 20px;
    margin-right: 20px;
}

footer h3 {
    margin: 25px auto 15px;
}

footer ul {
    width: 340px;
    margin-bottom: 20px;
    
}

footer li {
    line-height: 1.5em;
}

@media all and (min-width: 340px) and (max-width: 1200px) {

    header {
        margin-left: 0;
        margin-right: 0;
    }

    .logo {
        margin-left: 20px;
    }

    nav {
        width: 100%;
        margin: 10px 0;
    }

    nav ul {
        width: 100%;
    }

    nav li {
        flex: 1;
        padding: 0;
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li a:hover,
    nav li a:active {
        display: block;
        margin-top: 0px;
        margin-bottom: -3px;
        color: #0065fc;
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    .register {
        position: absolute;
        top: 14px;
        right: 20px;
    }

    h1{
        
        margin-left: 20px;
        font-size: 1.3em;
       
    }
    h2 {
        margin-bottom: 30px;
    }
    p {
        margin-left: 20px;

}  

button {
    height: 50px;
        max-width: 40px;
        border-radius: 10px;
        overflow: hidden;
}
.recherche {
    margin-left: 20px;;
    margin-right: auto;
    width: 300px;
}

i.fa-search {
    margin-left: -15px;
    margin-top: 17px;
} 

.filtres {
    margin-left: 20px;
}
.info {
    padding: 10px 20px 10px 0px;
}

i.fa-info  {
    margin-right: 0px;
    
    
}
.info p , a {
    font-size: 1em;
}
.details p {
    font-size: 0.8em;
}

#populaires {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0%;
}
.populaires {
    align-items: center;
}
.populaires .photos {
    width: 100%
}
.populaires .photos a img {
    width: 43%;
}
.populaires .details {
    width: 67%
}
.hebergements-populaires {
   display: flex; 
   flex-direction: column-reverse;
   margin-left:0px;
   margin-right: 0px;
}
.plus {
    margin-left: 0px;
    font-size: 1.2em;
}

.photos {
    width: 100%;
    max-height: 100%;
    margin: 0px 0px 15px 0px;
    font-size: 1.2em;

}
.photos a {
    max-height: 120px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 55%;
}
.photos a img {
    width: 100%
}
#hebergements {
    max-width: 100%;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.hebergements .photos {
    width: 100%
}
.hebergements img {
    max-height: 100px;
}
.details p {
    margin: 0;
}
#hebergements .plus {
    margin: 0px
}
.activite1, .activite2-activite3, .activite4, .activite5-activite6{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.activite4 {
    margin-top: 60px;
}
.activite1, .activite4 {
    height: 200px;
}
.activite2-activite3, .activite5-activite6{
    height: 400px;
}
.activite1 .photo-activite1 img,
.activite2-activite3 .photo-activite2 img,
.activite2-activite3 .photo-activite3 img,
.activite4 .photo-activite4 img,
.activite5-activite6 .photo-activite5 img,
.activite5-activite6 .photo-activite6 img {
    height: 150px;
} 

.vignette-activite {
    margin-bottom: 40px;
}

#footer {
    padding : 20px ;
}
.a-propos {
margin-left: 0;
}

@media all and (min-width: 522px) {
.hebergements .photos {
width: 45%;
margin-bottom: 40px;
}
.hebergements .details {
    margin-left: 0px;
}
.populaires .photos {
margin-bottom: 40px;
height: 200px;
}
.populaires a img {
    max-width: 200px;
    height: 170px; 
}
}

@media all and (min-width: 858px) and (max-width: 1079px) {
 #footer {
flex-wrap: nowrap;
    }    
}

@media all and (min-width: 720px) and (max-width: 858px){
    #footer {
        flex-direction: column;
    }
}

}
