/* Définition des polices personnalisées */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


/* GENERAL */

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
    font-family: "Raleway Regular 400", "Sans serif";
    margin: 0px;
   
}
main
{
    max-width: 1440px;
    width: 95%;
    margin: auto;
}


main,
.hebergements-populaires
{
    margin-top: 20px;
}



h1
{
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 20px;
} 

h2 
{
    font-size: 1.5em;
   
}

h3 
{
    margin-top: 5px;
    font-size: 0.9em;
}

p 
{
    font-size: 0.95em;
}

a 
{
    color: #333;
    text-decoration: none;
}



img 
{
    object-fit: cover;
}

i 
{
    color: #0065FC;
}

i.fa-star 
{
    font-size: 10px;
}

i.no-star 
{
    color: #ccc;
}

i.fa-info 
{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    padding-top: 6px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
}

/* PHOTOS */

.photos 
{
    margin: 0px 30px 30px 0px;
    
    border-radius: 20px;
    box-shadow: 3px 3px 7px #999;
}

.photos span 
{
    font-weight: bold;
}

/* DETAILS */

.details {
    margin-left: 15px;
}

/* HEADER */

header,
.header 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.header {
    flex: 1;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    padding: 0 35px;
    line-height: 40px;
}

nav li a:hover,
nav li a:active 
{
    display: block;
    margin-top: -1px;
    color: #0065fc;
    border-top: 1px solid #0065fc;
    text-align: center;
    width: 130%;
    
}

ul 
{
    list-style-type: none;
}

/* REGISTER */

.register {
    display: flex;
    align-items: center;
}

.register a {
    padding: 20px 20px;
    font-weight: bold;
    color: #0065fc;
}

li.register:hover {
    margin-top: 0;
    border: none;
}

/* SEARCH */


.recherche {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}

i.fa-map-marker-alt {
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: black;
    background: #eee;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
}

i.fa-search 
{
    width: 40px;
    margin-left: -45px;
    color: #fff;
}

input 
{
    display: block;
    padding-left: 10px;
    border: none;
    height: 50px;  
    font-size: 0.95em;
    font-weight: bold;
} 


button {
    padding: 0 15px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    background: #0065fc;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 1rem ;
}

/* FILTERS */

.filtres {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

.filtres p {
    margin: 8px 20px 0 0;
    line-height: 50px;
    font-size: 1em;
    font-weight: bold;
}

.filtres i {
    height: 40px;
    width: 40px;
    margin-right: 20px;
    padding-top: 12px;
    text-align: center;
    background: #DEEBFF;
    border-radius: 50%
}

.filtres ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.filtres li {
    display: flex;
    align-items: center;
    margin: 10px;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-weight: bold;
}

.filtres li:hover 
{
 font-size: large; 
}

/* HEBERGEMENTS POPULAIRES */

.hebergements-populaires 
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* HEBERGEMENTS */

#hebergements 
{
   max-width: 70% ;
    border-radius: 20px;
    background: #f2f2f2;
    flex: 1;
    padding: 37px 35px 20px;
}

#hebergements h2 {
margin-bottom: 30px;
}

#hebergements .plus 
{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.hebergements 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.hebergements .photos {
    padding: 5px;
    background: #fff;
}

.hebergements img {
    height: 100%;
    width: 240px;
    max-height: 120px;
    border-radius: 10px 10px 0 0;
}

#hebergements p.plus {
    font-weight: bold;
}

/* POPULAIRES */

#populaires {
    width: 28%;
    border-radius: 20px;
    background: #f2f2f2;
    padding: 37px 35px 20px;
}

#populaires h2 {
    display: inline-block;
    width: 80%;
    margin-bottom: 30px;
  
}

#populaires i.fa-chart-line {
    color: black;
    font-size: 1.5em;
    padding-left: 8%;   
}

.populaires {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
   
}

.populaires img {
    height: 120px;
    width: 100%;
    max-width: 130px;
    border-radius: 10px 0 0 10px;
}

.populaires .photos {
    width: 320px;
    padding: 5px;
    background: #fff;
}

.populaires .photos a {
    display: flex;
}

.populaires .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
}

/* ACTIVITES */

#activites {
    margin-top: 40px;
    margin-bottom: 40px;
}
#activites h2 {
    margin-bottom: 30px;
}
.activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activites h3 {
    margin-left: 15px;
    line-height: 3em;
}

.activites .double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activites img {
    height: 100%;
    width: 240px;
    border-radius: 10px 10px 0 0;
}

.activites .large img {
    max-height: 320px;
}

.activites .medium1 img {
    max-height: 150px;
}

.activites .medium2 img {
    max-height: 126px;
}

.activites .small1 img {
    max-height: 90px;
}

.activites .small2 img {
    max-height: 114px;
}


/* FOOTER */

footer {
    
    
    background: #f2f2f2;
}

#footer {

    max-width: 1440px;
    margin: auto;
    margin-top: 30px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

footer h3 {
    margin: 25px auto 15px;
}

footer ul {
    width: 340px;
    margin-bottom: 20px;
    
}

footer li {
    line-height: 1.5em;
}

@media all and (max-width: 767px) {

    header {
        margin-left: 0;
        margin-right: 0;
    }

    .logo {
        margin-left: 20px;
    }

    nav {
        width: 100%;
        margin: 40px 0;
    }

    nav ul {
        width: 100%;
    }

    nav li {
        flex: 1;
        padding: 0;
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li a:hover,
    nav li a:active {
        display: block;
        margin-top: 0px;
        margin-bottom: -3px;
        color: #0065fc;
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    .register {
        position: absolute;
        top: 14px;
        right: 20px;
    }

    

   
}



    



@media all and (max-width: 991px) {
    
}

@media all and (max-width: 1199px) {
    
}

@media all and (max-width: 1440px) {
    
}